table{
	border:0px;
}

h1, h2{
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
}

h2 {
font-size: 2.4125rem;
}

.row{
	max-width: 80.5rem;
}

table h2{
	text-align: center;
}

th{
	background-color: white;
}

#title{
	color: #4DA32D;
	margin-top: 35px;
	font-size: 4.75rem;
}

.mainButtons{
	width: 208px;
}

#banner,#title{
	float: left;
}

.select2-container{
	width: 100%;
}
#yourElement td{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0s;
  	-webkit-animation-iteration-count: 3;
  	animation-duration: 2s;
  	animation-delay: 0s;
  	animation-iteration-count: 3;
  	background-color: red;
}

table tr:nth-of-type(even) {
background: #D1D1D1;
}
